/* Header Ribbon - this is the same for all pages */
.header-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%; 
    top: 0; 
    box-sizing: border-box;
    overflow: hidden;
}


.logo a {
    display: inline-block;
    max-width: 100%; 
}

.logo img {
    height: 40px;
    width: auto;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

/* Navigation Menu   - this is the same for all pages */
.nav {
    display: flex; 
    gap: 15px;
    margin: 0;
    padding: 0;
    justify-content: flex-end; 
    width: 100%; 
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    width: 100%;
}

.nav ul li a {
    color: #f7a11b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px; 
}

.nav ul li a:hover {
    color: #e69518;
}


body {
    margin: 0;
    overflow-x: hidden; 
    font-family: Arial, sans-serif;
    font-size: 1.1 rem;

}

/* Main Content Wrapper */
main {
    flex: 1;
    background: linear-gradient(145deg, #f5f5f5, #f5f5f5); 
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    max-width: 1200px;
    margin: 20px auto; 
}



/* Footer   - this is the same for all pages */
.footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background: #111;
    font-size: 0.9rem;
    color: #ccc;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.footer .social-icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.footer .social-icons img:hover {
    transform: scale(1.2);
}


/* This is the part that makes this CSS different from the others in the folder. This is only for the table */
/* Table Styling */
#ontology-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 12 px;
}

#ontology-table th,
#ontology-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#ontology-table th {
    background-color: #f4f4f4;
    color: #333;
}

#ontology-table td {
    background-color: #fff;
}
